.btn-primary-cus {
    text-decoration: none;
    background: linear-gradient(90deg, $LimeGreen 0%, rgba(40, 186, 206, 1) 100%);
    color: $White;
    padding: 0.8em 2em !important;
    border-radius: 20px;
    transition: opacity 0.3s ease-in-out;
    border: none;
    &:hover {
        opacity: 0.8;
        color: $White;
    }
}

.btn-secondary-cus {
    display: inline-block;
    text-decoration: none;
    background: $LimeGreen;
    color: $White !important;
    padding: 0.6em 2em;
    border-radius: 20px;
    border: none;
    transition: opacity 0.3s ease-in-out;
    &:hover {
        opacity: 0.8;
    }
}

.btn-third-cus {
    display: inline-block;
    text-decoration: none;
    background: $darkBlue;
    color: $White !important;
    padding: 0.6em 2em;
    border-radius: 20px;
    border: none;
    transition: opacity 0.3s ease-in-out;
    &:hover {
        opacity: 0.8;
    }
}

.btn-forth-cus {
    display: inline-block;
    text-decoration: none;
    background: transparent;
    color: $darkBlue !important;
    padding: 0.6em 2em;
    border-radius: 0;
    border: 2px solid $darkBlue;
    transition: opacity 0.3s ease-in-out;
    &:hover {
        background: $darkBlue;
        color: $White !important;
    }
}

.nav-item-cus {
    background: $LimeGreen;
    color: $White;
    padding: 0em 1em !important;
    border-radius: 20px;
    transition: opacity 0.3s ease-in-out;
    &:hover {
        opacity: 0.8;
    }
}

.nav-item-cus,
.nav-item-cus-dec {
    color: $White !important;
    padding: 0em 1em !important;
    border-radius: 20px;
    transition: opacity 0.3s ease-in-out;
    & > * {
        color: $White !important;
    }
    &:hover {
        opacity: 0.8;
    }
}
.nav-item-cus {
    background-color: $LimeGreen;
}
.nav-item-cus-dec {
    height: 40px;
    border: none;
    background-color: $crimson;
}
