@import "_var";
@import "_conf";
@import "_btns";
@import "pages/_home";
@import "pages/_loginSignUp";
@import "pages/_contact_us";
@import "pages/_blog";
@import "pages/_dashboard";
@import "pages/_article";
@import "pages/_myProfile";

header {
    .navbar {
        z-index: 999;
        padding: 0;
    }

    .navbar-nav {
        display: flex;
        align-items: center;
    }
    .nav-item {
        padding: 1.3em 0;
        margin-right: 1em;
        &:last-child {
            margin-right: 0;
        }
    }
    .form-deconnexion {
        margin: 0;
    }
}

footer {
    padding: 3em 0;
    background-color: $darkBlue;
    .fisrt-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .icons {
            margin-top: 15px;
            a {
                margin-right: 10px;
            }
        }
    }
    .sec-col {
        ul {
            padding: 0 !important;
            li {
                list-style: none;
                margin-bottom: 0.6em;
                a {
                    text-decoration: none;
                    color: $White;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        color: $LimeGreen;
                    }
                }
            }
        }
    }

    .third-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.err-text {
    animation-name: errAnim;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    animation-direction: alternate;
    font-size: 13px;
    margin-bottom: 2em !important;
}

@keyframes errAnim {
    0% {
        transform: translateX(-5px);
    }
    40% {
        transform: translateX(5px);
    }
    70% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(5px);
    }
}
