.btn-primary-cus {
    text-decoration: none;
    background: linear-gradient(90deg, $LimeGreen 0%, rgba(40, 186, 206, 1) 100%);
    color: $White;
    padding: 0.7em 2em !important;
    border-radius: 20px;
    border: none;
}

.btn-secondary-cus {
    display: inline-block;
    text-decoration: none;
    background: $LimeGreen;
    color: $White !important;
    padding: 0.6em 2em;
    border-radius: 20px;
    border: none;
    transition: opacity 0.3s ease-in-out;
    &:hover {
        opacity: 0.7;
    }
}

.btn-third-cus {
    display: inline-block;
    text-decoration: none;
    background: $darkBlue;
    color: $White !important;
    padding: 0.6em 2em;
    border-radius: 20px;
    border: none;
    transition: opacity 0.3s ease-in-out;
    &:hover {
        opacity: 0.8;
    }
}
.nav-item-cus {
    background: $LimeGreen;
    color: $White;
    padding: 0em 1em !important;
    border-radius: 20px;
    transition: opacity 0.3s ease-in-out;
    &:hover {
        opacity: 0.7;
    }
}
