@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
input,
button,
textarea {
  outline: none !important;
}

body {
  font-family: "Public Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2d314d;
}

h1 {
  font-size: 50px;
  font-weight: 300;
}

h1.page-title {
  margin: 1em 0;
}

p {
  color: #9698a6;
}

.section-main {
  padding: 4em 0;
}

.fontAwesome {
  font-family: "Helvetica", FontAwesome, sans-serif;
}

.link {
  display: inline-block;
  color: #31d35c;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  color: #31d35c;
  opacity: 0.5;
}

.card-cus {
  width: calc(96% / 4);
  min-width: 300px;
  display: block;
  text-decoration: none;
  background-color: white;
  margin-bottom: 1.5em;
}

.card-cus .writer-name {
  color: #9698a6;
  font-size: 12px;
}

.card-cus h5 {
  margin: 0.7em 0;
}

.card-cus .card-img-top {
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-primary-cus {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#28bace));
  background: linear-gradient(90deg, #31d35c 0%, #28bace 100%);
  color: white;
  padding: 0.7em 2em !important;
  border-radius: 20px;
  border: none;
}

.btn-secondary-cus {
  display: inline-block;
  text-decoration: none;
  background: #31d35c;
  color: white !important;
  padding: 0.6em 2em;
  border-radius: 20px;
  border: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.btn-secondary-cus:hover {
  opacity: 0.7;
}

.btn-third-cus {
  display: inline-block;
  text-decoration: none;
  background: #2d314d;
  color: white !important;
  padding: 0.6em 2em;
  border-radius: 20px;
  border: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.btn-third-cus:hover {
  opacity: 0.8;
}

.nav-item-cus {
  background: #31d35c;
  color: white;
  padding: 0em 1em !important;
  border-radius: 20px;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.nav-item-cus:hover {
  opacity: 0.7;
}

.test {
  overflow: hidden;
}

.presentation-header {
  position: relative;
  background-image: url(images/bg-intro-desktop.svg);
  background-position: 146% -182px;
  background-repeat: no-repeat;
  background-size: 58%;
}

.presentation-header .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
}

.presentation-header .row p {
  margin: 1.5em 0 3em;
}

.presentation-header .row .imgs .bg-intro-desktop {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 700px;
  width: 50%;
}

.presentation-header .row .imgs .img-mockup {
  position: absolute;
  top: -24%;
  right: -6%;
}

.why-us {
  background-color: #f3f4f6;
}

.why-us p {
  margin-top: 1.6em;
  margin-bottom: 2.5em;
}

.why-us .cards h3 {
  margin: 1em 0;
}

.latest-articles {
  background-color: #fafafa;
}

.latest-articles h2 {
  margin-bottom: 1.6em;
}

.latest-articles .d-flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.latest-articles .link {
  margin-top: 1em;
}

main.loginSignUpForm {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(-45deg, #31d35c 0%, #28bace 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 400% 400%;
  -webkit-animation: backgroundAnimation 7s ease infinite;
          animation: backgroundAnimation 7s ease infinite;
}

main.loginSignUpForm .form-container {
  position: relative;
  text-align: center;
  padding: 3em 3.5em;
  background-color: white;
  width: 34%;
  min-width: 380px;
  height: 70vh;
  min-height: 450px;
  margin: auto;
  border-radius: 10px;
}

main.loginSignUpForm .form-container .logo {
  margin: 1em 0em 3em;
  width: 250px;
}

main.loginSignUpForm .form-container .link-parent {
  position: absolute;
  text-align: center;
  bottom: 30px;
  width: 100%;
  left: 0;
}

main.loginSignUpForm .form-container form {
  text-align: left;
}

main.loginSignUpForm .form-container form .label {
  position: relative;
}

main.loginSignUpForm .form-container form .label:first-child .input-parent::before, main.loginSignUpForm .form-container form .label:nth-child(2) .input-parent::before {
  font-family: "Helvetica", FontAwesome, sans-serif;
  font-size: 1.2em;
  margin-left: 10px;
  color: #9698a6;
}

main.loginSignUpForm .form-container form .label:first-child .input-parent {
  margin-bottom: 1.5em;
}

main.loginSignUpForm .form-container form .label:first-child .input-parent::before {
  content: "\f0e0";
}

main.loginSignUpForm .form-container form .label:nth-child(2) .input-parent::before {
  content: "\f023";
}

main.loginSignUpForm .form-container form .label label {
  display: block;
}

main.loginSignUpForm .form-container form .label .input-parent {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.loginSignUpForm .form-container form .label .input-parent::before {
  position: absolute;
}

main.loginSignUpForm .form-container form .label .input-parent input[type="text"],
main.loginSignUpForm .form-container form .label .input-parent input[type="password"] {
  width: 100%;
  padding: 0.3em 0 0.3em 2.8em;
  border: none;
  border-bottom: 1px solid #9698a6;
}

main.loginSignUpForm .form-container form .btn-submit {
  margin-top: 1.5em;
}

@-webkit-keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

main.contact_us {
  padding-bottom: 4em;
}

main.contact_us .d-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main.contact_us .d-flex > * {
  min-width: 320px;
  width: 48%;
}

main.contact_us .d-flex .left .icons {
  margin-bottom: 1em;
}

main.contact_us .d-flex .left .icons a {
  margin-right: 0.3em;
}

main.contact_us .d-flex .left ul {
  padding-left: 0;
}

main.contact_us .d-flex .left ul li {
  list-style: none;
  margin-bottom: 1em;
}

main.contact_us .d-flex .left ul li:last-child {
  margin-bottom: 0em;
}

main.contact_us .d-flex .left ul li i.fas {
  margin-right: 0.5em;
}

main.contact_us .d-flex .left #map {
  height: 360px;
}

main.contact_us .d-flex .right input,
main.contact_us .d-flex .right textarea {
  width: 100%;
  background-color: #f3f4f6;
  border: 1px solid #f3f4f6;
  padding: 0.3em 0.4em;
}

main.contact_us .d-flex .right textarea {
  resize: none;
  height: 200px;
}

main.contact_us .d-flex .right input {
  margin-bottom: 1em;
}

main.contact_us .d-flex .right .btn-container {
  margin-top: 1em;
  text-align: center;
}

main.contact_us .d-flex .right .btn-container .btn-submit {
  width: 70%;
}

main.blogs .d-flex .left {
  width: 75%;
}

main.blogs .d-flex .left .article {
  margin-bottom: 1.8em;
  border-bottom: 1px solid #f3f4f6;
}

main.blogs .d-flex .left .article a {
  text-decoration: none;
}

main.blogs .d-flex .left .article p {
  padding-bottom: 0.2em;
}

header .navbar {
  z-index: 999;
  padding: 0;
}

header .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-item {
  padding: 1.3em 0;
  margin-right: 1em;
}

header .nav-item:last-child {
  margin-right: 0;
}

footer {
  padding: 3em 0;
  background-color: #2d314d;
}

footer .fisrt-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .fisrt-col .icons {
  margin-bottom: 15px;
}

footer .fisrt-col .icons a {
  margin-right: 10px;
}

footer .sec-col ul li,
footer .third-col ul li {
  list-style: none;
  margin-bottom: 0.6em;
}

footer .sec-col ul li a,
footer .third-col ul li a {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .sec-col ul li a:hover,
footer .third-col ul li a:hover {
  color: #31d35c;
}

footer .forth-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */