main.blogs {
    .d-flex {
        justify-content: space-between;
        .left {
            width: 74%;
            .article {
                margin-bottom: 1.8em;
                border-bottom: 1px solid $LightGrayishBlue;
                &:last-child {
                    border-bottom: 1px solid transparent;
                }
                a {
                    text-decoration: none;
                }
                p {
                    padding-bottom: 0.2em;
                }
                .view-more-container {
                    margin-bottom: 0.7em;
                }
            }
        }
        .right {
            width: 24%;
            h4 {
                margin-bottom: 18px;
            }
            .categorie-list {
                padding-left: 13px;
                list-style: none;
                li {
                    input {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
