main.loginSignUpForm {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, $LimeGreen 0%, rgba(40, 186, 206, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 400% 400%;
    animation: backgroundAnimation 7s ease infinite;
    .form-container {
        position: relative;
        text-align: center;
        padding: 3em 3.5em;
        background-color: $White;
        width: 34%;
        min-width: 380px;
        height: 70vh;
        min-height: 450px;
        margin: auto;
        border-radius: 10px;
        .logo {
            margin: 1em 0em 3em;
            width: 250px;
        }
        .link-parent {
            position: absolute;
            text-align: center;
            bottom: 30px;
            width: 100%;
            left: 0;
            .link {
            }
        }

        form {
            text-align: left;

            .label {
                position: relative;
                &:first-child,
                &:nth-child(2) {
                    .input-parent {
                        &::before {
                            font-family: "Helvetica", FontAwesome, sans-serif;
                            font-size: 1.2em;
                            margin-left: 10px;
                            color: $GrayishBlue;
                        }
                    }
                }
                &:first-child {
                    .input-parent {
                        margin-bottom: 1.5em;
                        &::before {
                            content: "\f0e0";
                        }
                    }
                }
                &:nth-child(2) {
                    .input-parent {
                        &::before {
                            content: "\f023";
                        }
                    }
                }
                label {
                    display: block;
                }
                .input-parent {
                    position: relative;
                    display: flex;
                    align-items: center;
                    &::before {
                        position: absolute;
                    }

                    input[type="text"],
                    input[type="password"] {
                        width: 100%;
                        padding: 0.3em 0 0.3em 2.8em;
                        border: none;
                        border-bottom: 1px solid $GrayishBlue;
                    }
                }
            }
            .btn-submit {
                margin-top: 1.5em;
            }
        }
    }
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
