main.contact_us {
    padding-bottom: 4em;

    .d-flex {
        justify-content: space-between;
        flex-wrap: wrap;
        & > * {
            min-width: 320px;
            width: 48%;
        }
        .left {
            .icons {
                margin-bottom: 1em;
                a {
                    margin-right: 0.3em;
                }
            }
            ul {
                padding-left: 0;
                li {
                    list-style: none;
                    margin-bottom: 1em;
                    &:last-child {
                        margin-bottom: 0em;
                    }
                    i.fas {
                        margin-right: 0.5em;
                    }
                }
            }
            #map {
                height: 360px;
            }
        }
        .right {
            input,
            textarea {
                width: 100%;
                background-color: $LightGrayishBlue;
                border: 1px solid $LightGrayishBlue;
                padding: 0.3em 0.4em;
            }
            textarea {
                resize: none;
                height: 200px;
            }
            input {
                margin-bottom: 1em;
            }
            .btn-container {
                margin-top: 1em;
                text-align: center;
                .btn-submit {
                    width: 70%;
                }
            }
        }
    }
}
